body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
}

#sidebar {
    min-width: 250px;
    background-color: #333;
    padding: 20px;
    color: white;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}

#content {
    flex-grow: 1;
    padding: 20px;
}

nav img {
    height: 50px;
}

nav button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    margin-top: 20px;
}


.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
}

.navbar-brand {
    margin-right: 0;
}

.sidebar-link {
    font-size: 18px;
    font-weight: bold;
}