<%- include("../../views/partials/header.ejs") %>
    <title>Add User</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
      
        h1 {
            margin-bottom: 20px; 
        }

        form {
            max-width: 400px; 
            margin: 0 auto; 
        }

        label {
            margin-top: 10px; 
        }

        input {
            margin-bottom: 10px; 
        }

        .error-message {
            color: red;
            margin-top: 10px; 
        }

        .btn-success {
            border-radius: 10px;
        }
        body {
            background-color: #d8eace; 
        }

        .container-box {
            background-color: #ffffff; 
            border: 1px solid green; 
            border-radius: 8px; 
            padding: 30px; 
            box-shadow: 0 4px 8px rgba(1.5, 1.5, 1, 2); 
            margin-top: 20px; 
            max-width: 600px; 
            margin-left: auto; /* Center the container horizontally */
            margin-right: auto; /* Center the container horizontally */
        }
        
    </style>
    <link rel="stylesheet" href="/public/stylesheets/admin/navNsidebar.css">
</head>
<body>
    <div class="wrapper">
      
        <!-- Sidebar -->
        <%- include('../partials/adminSidebar.ejs', { activePage: 'userList' }) %>
      <!-- Page Content -->
      <div id="content">
     
    <h1 class="text-center">Add User</h1>
    <div class="container mt-4 container-box">

    <form action="/admin/add_user" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control" required>
        </div>
    
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>
    
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>

        <!-- Display error message if email already exists -->
        <% if (error && error === 'email_exists') { %>
            <p class="error-message">Email already exists. Please choose a different email.</p>
        <% } %>
    
        <button type="submit" class="btn btn-success btn-block">Add User</button>
    </form>
    </div>
    </div>
    </div>

    <!-- Include Bootstrap JS and Popper.js (required for Bootstrap dropdowns) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
