<%- include("../../views/partials/header.ejs") %>
    <title>Admin Add Coupon</title>
    <!--  Bootstrap CSS  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.10.1/sweetalert2.min.css" />
    <style>
        body {
            background-color: #bee6a5; /* Add a light background color */
        }

        .container-box {
            background-color: #ffffff; 
            border: 1px solid green; 
            border-radius: 8px;
            padding: 30px; 
            box-shadow: 0 4px 8px rgba(1.5, 1.5, 1, 2); 
            margin-top: 20px; 
            max-width: 600px; 
            margin-left: auto; 
            margin-right: auto; 
        }
    </style>
</head>

<body>
    <div class="container mt-4 container-box">
        <h2 class="mb-4 text-center text-danger">Create Coupon🏷️</h2>
        <form id="couponForm" action="/admin/create_coupon" method="post">

            <div class="form-group">
                <label for="couponCode">Coupon Code:</label>
                <input type="text" class="form-control" id="couponCode" name="coupon_code" required>
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" name="description" rows="2" required></textarea>
            </div>

            <div class="form-group">
                <label for="discount">Discount Value:</label>
                <input type="number" class="form-control" id="discount" name="discount" required>
            </div>

            <div class="form-group">
                <label for="startDate">Start Date:</label>
                <input type="date" class="form-control" id="startDate" name="start_date" required>
            </div>

            <div class="form-group">
                <label for="endDate">End Date:</label>
                <input type="date" class="form-control" id="endDate" name="exp_date" required>
            </div>
            <div>
                <label for="minAmount">Min Amount:</label>
                <input type="number" class="form-control" id="minAmount" name="min_amount" required>
            </div>
            <!-- <div>
                <label for="maxCount">Max Count:</label>
                <input type="number" class="form-control" id="maxCount" name="max_count" required>
            </div> -->
            <div class="mt-4">
                <button type="button" id="addCouponBtn" class="btn btn-success">Add Coupon</button>
            </div>
        </form>
    </div>

    <!-- Include Bootstrap JS and Popper.js (required for Bootstrap functionality) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- SweetAlert2 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.10.1/sweetalert2.min.js"></script>
    <script>
        document.getElementById('addCouponBtn').addEventListener('click', function () {
            if (validateForm()) {
                Swal.fire({
                    title: 'New Coupon?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, add it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        document.getElementById('couponForm').submit();
                    }
                });
            }
        });

        function validateForm() {
            const couponCode = document.getElementById('couponCode').value;
            const description = document.getElementById('description').value;
            const discount = document.getElementById('discount').value;
            const startDate = document.getElementById('startDate').value;
            const endDate = document.getElementById('endDate').value;
            const minAmount = document.getElementById('minAmount').value;
            // const maxCount = document.getElementById('maxCount').value;

            if (
                couponCode.trim() === '' ||
                description.trim() === '' ||
                discount.trim() === '' ||
                startDate.trim() === '' ||
                endDate.trim() === '' ||
                minAmount.trim() === '' 
            ) {
                Swal.fire({
                    icon: 'error',
                    title: 'Validation Error',
                    text: 'Please fill in all the fields.',
                });
                return false;
            }


            return true;
        }
    </script>
</body>

</html>
