<link rel="stylesheet" href="/public/stylesheets/users/footer.css">
<section class="footer-section">
    <div class="footer">
        <div class="footer-blocks">
            <ul class="blocks-ul">
                <p class="ul-head"><STRONG>CONTACT US</STRONG></p>
                <li class="blocks-list"><a class="blocks-link"></a></li>
                <li class="blocks-list"><a class="blocks-link" >Made with ♡ from Brocamp</a></li>
                <li class="blocks-list"><a class="blocks-link" >+91 899999999</a></li>
                <li class="blocks-list"><a class="blocks-link" href="/">medihub37@gmail.com</a></li>
                <li class="blocks-list"><a class="blocks-link" href="#">Adlux Convention center, <br>
                    near Ankamly Karukutty,<br>
                    Ernakulam, Kerala 680308</a></li>
            </ul>
        </div>
        <div class="footer-blocks">
            <ul class="blocks-ul">
                <p class="ul-head"><STRONG>INFORMATION & SUPPORT </STRONG></p>
                <li class="blocks-list"> <a class="blocks-link" href="#">About us</a></li>
                <li class="blocks-list"> <a class="blocks-link" href="#">Frequently Asked Questions</a></li>
                <li class="blocks-list"><a class="blocks-link" href="#">Terms & Conditions
                </a></li>
                <li class="blocks-list"><a class="blocks-link" href="#">Sustainability H&M Group</a></li>
                <li class="blocks-list"><a class="blocks-link" href="#">Privacy Policy </a></li>
            </ul>
        </div>
        <div class="footer-blocks">
            <ul class="blocks-ul">
                <p class="ul-head"><strong>HELP</strong></p>
                <li class="blocks-list"><a class="blocks-link" href="#">Customer Service</a></li>
                               <li class="blocks-list"><a class="blocks-link" href="#">Find a store</a></li>
                <li class="blocks-list"><a class="blocks-link" href="#">Legal & Privacy</a></li>
                <li class="blocks-list"><a class="blocks-link" href="#">Contact Us</a></li>
                <li class="blocks-list"><a class="blocks-link" href="#">Cookie Notice</a></li>
                <li class="blocks-list"><a class="blocks-link" href="#">Cookie settings</a></li>
                <li class="blocks-list"><a class="blocks-link" href="#">Report a scam</a></li>
            </ul>
        </div>
            </div>
    <div class="page-end">
        <div>
            <p class="ul-head"></p>
            <img class="icon-img" src="/public/images/logoMedi.jpg" alt="">
        </div>
        <p class="footer_txt">The content of this site is copyright-protected and is the property of MediHub.
           <a> READ MORE</a></p>
        <p class="footer_txt">MediHub</p>
        <p class="footer_txt">INDIA | Rs.</p>
    </div>
</section>