<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>razorpayCheckout</title>
</head>
<body>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  // Use the Razorpay order details obtained from the server
  var options = {
    key: '<%= razorpayOrder.key_id %>',
    amount: '<%= razorpayOrder.amount %>',
    currency: '<%= razorpayOrder.currency %>',
    name: 'Your Store',
    description: 'Payment for your order',
    order_id: '<%= razorpayOrder.id %>',
    handler: function (response) {
      // Handle the payment response
      if (response.razorpay_payment_id) {
        // Payment successful, you can redirect the user or perform any other actions here
        console.log('Payment successful:', response);
        // Update the order status or perform other actions
        // Redirect the user to the order success page
        res.render('./userOrderSuccess.ejs', { order });
      } else {
        // Payment failed, handle the failure and redirect the user to an error page
        console.error('Payment failed:', response.error);
        res.redirect('/razorpayPaymentError');
      }
    },
  };

  var rzp = new Razorpay(options);
  rzp.open();
</script>
</body>
</html> -->