
body {
  font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #dfede0;
        
}
.body-container{
height: 70vh;
}
nav {
  background-color: #333;
        padding: 10px;
        color: white;
}

nav img {
  height: 50px;
  width: 80px;
}

.user-dropdown button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #f9f9f9;
  border: none;
  width: 100%;
  text-align: left;
}

.product-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 20px;
  
}

.product-details {
  max-width: 30%;
  position: sticky;
  top: 80px;
  height: 90vh;
 
}

.product-image {
  max-width: 60%;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image img {
  width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.product-image img:hover {
  transform: scale(1.2);
}

.action-buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.btn-add-to-cart {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}
.container-down{
  background-color: #ddfbdd;
  margin: 35px;
  border-radius: 17px;
}

.btn-add-to-wishlist {
  background-color: #FFD700;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}

.product-images-container {
  display: flex;
}

.thumbnail-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}

.thumbnail-images img {
  width: 60px;
  height: 60px;
  cursor: pointer;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.thumbnail-images img:hover {
  transform: scale(1.2);
}

.main-image-container {
  border: 1px solid #f5efef;
  border-radius: 15px;
  overflow: hidden;
  height: 500px;
}

.main-image {
  width: 80%;
  height: 50%;
  object-fit: cover;
}

h1.display-4 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

p.lead {
  font-size: 1.2rem;
}

p.text-muted {
  font-size: 1rem;
}

p.h4 {
  font-size: 1.5rem;
}

.btn-lg {
  font-size: 1.2rem;
  padding: 10px 20px;
}

.card {
        width: 300px;
        margin: 10px;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
        transition: transform .2s;
    }

    .card img {
        object-fit: cover;
        width: 100%;
        height: 200px;
    }
    .card-body{
        background-color: #ffffff;
    }
    .card :hover{
        background-color: #dfede0;
     
    }
    .pagination {
   margin-top: 20px;
   justify-content: center;
   
}


@media (max-width: 768px) {
  .product-container {
    flex-direction: column;
  }

  .product-details, .product-image {
    max-width: 100%;
    margin: 10px 0;
  }
}
