body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e4f1e4;
}

nav {
    background-color: #333;
    padding: 10px;
    color: white;
}

nav img {
    height: 50px;
    width: 80px;
}

.login-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button-not-logged-in {
    border: 2px solid #4CAF50;
    background-color: white;
    color: #4CAF50;
}

.user-dropdown button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #f9f9f9;
    border: none;
    width: 100%;
    text-align: left;
}


.container-box {
    background-color: #4CAF50;
    
    padding: 40px;
    margin-top: 7vh;
    border-radius: 10px;
    transition: background-color 1s; /* Transition for smooth color change */
}
.container-box h1, .container-box p {
   color: white;
}
.payment-method-container {
    display: flex;
    flex-direction: column;
}

.payment-method-radio {
    margin-right: 10px;
}

/* Additional Styles for Wallet Balance */
.wallet-container {
    text-align: center;
    margin-top: 20px;
}

.wallet-balance {
    font-size: 24px;
    color: #4CAF50;
    margin-bottom: 20px;
}
.action-buttons {
margin-top: 20px;
display: flex;
justify-content: space-evenly;
}

.action-button {
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;

}

/* Add Bootstrap btn class for button styling */
.action-button.btn1 {
background-color: #4CAF50;
}

.action-button.btn2 {
background-color: #2196F3;
}

.action-button.btn3 {
background-color: #FF9800;
}

.action-button.btn4 {
background-color: #f44336;
}



/* Add this code to your userWallet.css file */

.wallet-history {
    margin-top: 20px;
    border-top: 2px solid #4CAF50;
    padding-top: 20px;
}

.transaction {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.transaction p {
    margin: 5px 0;
}

.transaction p:first-child {
    font-size: 18px;
    font-weight: bold;
    color: #4CAF50;
}

.transaction p:last-child {
    color: #555;
}

/* Optional: Add hover effect */
.transaction:hover {
    background-color: #e4fae4;
    transition: background-color 0.3s;
}
